:root {
    --black: #18191a;
    --white: #efefed;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    background-image: url('../images/white-bg.jpg');
    background-size: 100%;
}

h1,
h2,
h3 {
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

#front-slider,
.front-slider {
    max-height: 85vh;
    height: 100%;
}

.front-slider .swiper-slide {
    position: relative;
    max-height: 85vh;
    display: flex;
    align-items: flex-end;
}

.slide-main-image {
    width: 100%;
}

.slider-content {
    position: absolute;
    width: 100%;
    height: 60%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    justify-content: center;
}

.slider-content .examples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    width: 338px;
    height: 338px;
    margin-left: 50px;
}

.slider-content .examples img {
    width: 160px;
}

.slider-content .about {
    justify-self: flex-end;
    text-align: end;
    align-self: flex-start;
    transform: translateY(-50px);
}

.slider-content .about p {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    z-index: 50;
}

.header-content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.examples span {
    background-color: #e4e4e6;
    display: flex;
    align-items: center;
}

.slider-content {
    color: #fff;
}

.slider-content h2 {
    font-size: 90px;
    margin-top: 0;
    font-weight: 400;
}

.logo-wrapper img {
    width: 200px;
}

#advantages {
    max-height: 100vh;
    position: relative;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

#advantages::before {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
}

.adv_layout_image {
    overflow: hidden;
    width: 50%;
}

.adv_layout_image img {
    height: calc(100vh - 20px);
    transition: all 17s ease-in-out;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.adv_layout_image:hover img {
    transform: scale(1.6);
}

.adv_items {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    max-width: 50%;
    gap: 9px;
    position: absolute;
    top: 40%;
    left: 47%;
}

.avd_item {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.avd_item img {
    max-width: 100px;
}

.adv_info {
    margin: 5px 0 0;
    font-weight: 500;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}

.advantages_texts {
    position: absolute;
    top: 25%;
    left: 55%;
}

.advantages_texts h2 {
    font-size: 50px;
    margin-top: 0;
}

.advantages_texts p {
    margin-bottom: 5px;
}

#ordering {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    position: relative;
}

#ordering::before {
    content: '';
    width: 200px;
    height: 200px;
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    position: absolute;
    top: 20px;
    left: 20px;
}

#ordering::after {
    content: '';
    width: 200px;
    height: 200px;
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.ordering-procedure {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 350px;
}

.order-item {
    background-color: #ffffffdb;
    border-bottom: 1px solid var(--black);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.order-item p {
    margin: 0;
    text-align: center;
}

.order-item:hover {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.order-item .headline {
    font-size: 18px;
    margin-bottom: 5px;
}

.order-item img {
    width: 100px;
    margin-bottom: 5px;
}

.order-item:nth-last-child(1) {
    border-bottom: 1px solid transparent;
}