.promo-block-wrapper__left {
    display: flex;
}

.promo-block-wrapper__right {
    display: flex;flex-direction: row-reverse;
}

.promo-block-left {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 50%;
}

.promo-block-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.promo-block-left-content {
    width: 250px;
    height: 250px;
}

.promo-block-left-content img {
    max-width: 250px;
    height: 100%;
}

.promo-block-left-content:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}